.titulo{
    text-align: center;
}
table {
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
  }
  
.titulo tr th {
    border: 2px solid black;
}

.contenido tr td{
    border: 2px solid black;
    text-align: center;
}